.signature {
    border-top: solid 1px rgb(213,213,213)
}

.signature form {
    display: flex;
    justify-content: center;
}

.signature form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align:start;
}

.signature form input{
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219,219,219);
    /* border-radius:10px; */
}

.signature form label{
    margin: 10px 0;
}
.signature form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.signature form input ::-webkit-outer-spin-button,
.signature form input ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signature form .multiple-input-container input {
    margin-right:10px;
}

.signature form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144,144,144);
    /* border-radius:10px; */
    transition: all 0.3s;
    margin-right: 10px;
}

.signature form input[type=radio] {
    display:none;
}

.signature form input[type=number]{
    width:10%;
}

.signature form input[type=radio]:checked + label {
    border: solid 2px rgb(221,39,22)
}

.signature form input[type=submit]:hover {
    background-color: rgb(235,235,235);
}
signature form input[type=submit]:active{
    background-color: rgb(226,115,115);
}
/* submit form button required */

signature form .photo-container img {
    width: 100%
}