@media only screen and (min-width: 274px){
   
    .navbar-container {
        width: 100%;
        height: 20px;
        display:flex; 
        background-color: black;
    
    }

    logo {
        max-width: 100%;
        /* margin:0 auto; */
    
    
    }

}

/* @media only screen and (min-width: 350px){
    .navbar-container { */
        /* height: 100px;
        background-color: black; */
        /* display: flex; */
        /* display: block; */
    
    /* flex-direction: column;*/
    /* }
    logo{
        width: 50%; */
        /* display: flex;
        flex-direction: row;
        gap: 15px; */
    /* }
    
} */
